@{   
    Layout = "~/Views/Shared/Layout.cshtml";
}

Bem vindo ao Projeto
<br/>

<ul>
    <li> <a href="/Produto/Cadastro">Cadastrar Produto</a> </li>
    <li> <a href="/Produto/Consulta">Consultar Produto</a> </li>
</ul>